/* AUTH APRESENTAÇÃO */

#container-apresentacao {
  height: 92vh;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(to left bottom, #8ef8b7, #7eebb2, #6fdead, #61d2a8, #53c5a2, #42b49a, #32a391, #249287, #127976, #056264, #014b50, #02353c);
  background-size: cover;
  background-position: center;
}

.titulo-apresentacao {
  margin: 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  align-items: center;
  margin-bottom: 100px;
}

.container-apresentacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
  margin: auto;
}

.titulo-apresentacao img {
  max-width: 150px;
}

@media (width <= 900px) {
  #container-apresentacao {
    height: 100vh;
  }
}