.racao input {
  border: 1px solid var(--cor-1);
  border-radius: 6px;
  background-color: transparent;
}

.racaoMain {
  display: flex;
  gap: 30px;
  height: 92vh;
  background-color: #C1F6ED;
  background-repeat: no-repeat;
  background-size: cover;
}


#racao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--cor-p3);
  border: 1px solid var(--cor-p2);
  border-radius: 16px;
  padding: 20px;
  height: 550px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.racao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

#racao h1 {
  color: #FFF;
  font-size: 2.2rem;
  font-family: Righteous;
  text-align: center;
}

.visualizarA {
  font-size: 1.1rem;
  color: var(--cor-p4);
}

#racao h2 {
  font-size: 1.6rem;
  font-family: Righteous;
  color: var(--cor-1);
}

.racao label {
  color: var(--cor-1);
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

#number,
#kg {
  border: none;
  border-bottom: 1px solid var(--cor-1);
  border-radius: 6px;
  width: 150px; /* Ajuste a largura conforme necessário */
  height: 30px;
  font-size: 1rem;
  color: var(--cor-1);
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

#date {
  border: none;
  border-bottom: 1px solid var(--cor-1);
  border-radius: 6px;
  width: 150px; /* Ajuste a largura conforme necessário */
  height: 30px;
  font-size: 1rem;
  color: var(--cor-1);
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

#btnRacao {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  width: 160px;
  height: 45px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bolder;
}

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 4px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-header h3 {
  margin: 0;
  color: #000;
}

.modal-close {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  border: none;
  background-color: transparent;
}

.modal-close:hover {
  color: #555;
}

.modal-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-body ul li {
  margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

/* Outros estilos */
.racaoMain {
  position: relative;
}

.modal-open {
  display: block;
}

/* Estilos para telas menores */
@media (max-width: 900px) {
  .racaoMain {
    height: 100vh;
    align-items: center;
    background-color: var(--cor-p1);
}
}
@media (max-width: 600px) {

  .racao {
    gap: 20px;
  }

  #racao {
    width: 350px;
    height: auto;
  }

  #racao h1{
    font-size: 1.8rem;
  }

  .visualizarA {
    font-size: 1rem;
  }

  #racao h2 {
    font-size: 1.5rem;
  }

  .racao label {
    font-size: 1rem;
  }

  #number,
  #date {
    width: 140px;
    height: 20px;
    font-size: 0.8rem;
  }

  #btnRacao {
    display: flex;
    width: 180px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
}