* {
  box-sizing: border-box;
}

.btnSair {
  background: transparent;
  border: 1px solid var(--cor-1);
  color: var(--cor-1);
  border-radius: 6px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

h3 {
  font-size: 1.5rem;
  color: var(--cor-1);
  font-weight: 500;
}

.sidebar-menu img {
  width: 60px;
  height: 60px;
}


body.open .overlay {
  opacity: 1;
  visibility: visible;
}

.burger {
  position: fixed;
  z-index: 3;
  top: 20px;
  right: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
}

@media (width >=950px) {
  .burger {
    display: none;
  }
}

.burger-avatar {
  width: 30px;
  height: 30px;
  transition: 1s;
}

body.open .burger-avatar {
  translate: 40px 0;
  opacity: 0;
  display: none;
}

.burger-icon {
  display: none;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/burger.svg");

  background-repeat: no-repeat;
  background-position: center center;
}

body.open .burger-icon {
  background-image: url("../images/icons/icon-close.svg");

  display: block;
}

body.close .burger-icon {
  display: none;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
  padding: 35px;
  background: var(--cor-10);
  opacity: 0;
  visibility: hidden;
  filter: blur(10px);
  transition-property: filter, visibility, opacity;
  transition-duration: 0.6s;
}

@media (max-width: 1000px) {
  .sidebar-menu h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    z-index: 2;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    translate: 100% 0;
    transition: 0.4s;
  }

  .sidebar h3 {
    font-size: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.16);
  }

  .sidebar-menu {
    gap: 20px;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }

  .sidebar-menu ul {
    flex-direction: column;
    gap: 20px;
  }

  .sidebar-menu li a {
    font-size: 0.6rem;
    padding: 10px;
  }
}


.sidebar-avatar img {
  width: 50px;
}

a {
  text-decoration: none;
}

@media (width >=330px) {
  .sidebar {
    transition-property: translate;
  }
}

@media (width < 600px) {
  .sidebar {
    translate: 100% 0;
    transition: 0.4s;
    width: 50%;
  }
}

@media (width >=900px) {
  .sidebar {
    translate: 0 0;
    opacity: 1;
    visibility: visible;
    filter: blur(0);
    transition: none;
  }
}

body.open .sidebar {
  translate: 0 0;
  opacity: 1;
  visibility: visible;
  filter: blur(0);
}

.sidebar-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.sidebar-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}

.sidebar-menu li {
  padding: 10px;
}

.sidebar-menu li a {
  font-size: 1.2rem;
  padding: 10px;
  color: var(--cor-1);
}

.sidebar-menu li a:hover {
  color: var(--cor-p4);
}